 
/* CSS Document */
body {
	font:17px arial;
	color: #222;
	text-align:center;
	padding:35px;
}
	
input {
	font:12px arial;	
}

#sender {
	width:100%;
}

#wrapper {
	margin:0 auto;
	background:#CECEFF;
	width:504px;
	border:1px solid #ACD8F0;
}
 
#logbox {
	text-align:left;
	margin:0 auto;
	margin-top:25px;
	margin-bottom:25px;
	padding:10px;
	background:#fff;
	height:100px;
	width:475px;
	border:1px solid #ACD8F0;
	overflow:auto;
}
 
#load { 
	width: 65px;
} 
 
#menu {
	padding:12.5px 25px 12.5px 25px;
}
 
 .welcome {
	float:center;
	font:16px Sanvito;
}

.button {
	width:120px;
}

.file {
	width:200px;
	max-width:200px;
}

table, td {
	font:bold 14px arial 
}