 
/* CSS Document */
body {
	font:17px arial;
	color: #222;
	text-align:center;
	padding:35px;
}
	
input {
	font:12px arial;	
}

#sender {
	width:100%;
}

#wrapper {
	margin:0 auto;
	background:#CECEFF;
	width:504px;
	border:1px solid #ACD8F0;
}
 
#logbox {
	text-align:left;
	margin:0 auto;
	margin-top:25px;
	margin-bottom:25px;
	padding:10px;
	background:#fff;
	height:100px;
	width:475px;
	border:1px solid #ACD8F0;
	overflow:auto;
}
 
#load { 
	width: 65px;
} 
 
#menu {
	padding:12.5px 25px 12.5px 25px;
}
 
 .welcome {
	float:center;
	font:16px Sanvito;
}

.button {
	width:120px;
}

.file {
	width:200px;
	max-width:200px;
}

table, td {
	font:bold 14px arial 
}

.fileform { 
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 320px;
}

.fileform #fileformlabel { 
background-color: #FFFFFF;
float: left;
height: 18px;
line-height: 22px;
overflow: hidden;
padding: 2px;
text-align: left;
vertical-align: middle;
width:240px;
}

.fileform .selectbutton { 
    background-color: #A2A3A3;
    border: 1px solid #939494;
    border-radius: 2px;
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
 
.fileform #upload{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    font-size: 150px; 
    height: 30px; 
    z-index:20;
}